body {
	margin:0;
	font-family:Arial;
	font-size:12px;
	/*background-color:#bdd6cd; */
	/*background-color:#94c7d0;; pensei num azul */
	/*background-color:#94c7d0; */
	/*background-color:#b3ccde; mais puxado para o cinza/azul */
}
.topotot {
	height:30px;	
	background-color:#292e32;
}
.topoint{
	width:100%;
	max-width:1040px;
	height:30px;
	margin:auto;
}
.topoinf {
	width:50%;
	height:30px;
	float:left;
}
.toporede {
	width:50%;
	height:28px;
	float:right;
	color:#FFF;
	text-align:right;
	margin-top:2px;
} 
.topoinf ul {
	margin:0px;
	padding:0px;
	list-style:none;

}
.topoinf li {
	float:left;
	height:30px;
	line-height:30px;
	margin-left:8px;
	margin-right:8px;
}
.topoinf li a{
	text-decoration:none;
	color:#FFF;
}
.topoinf li .ativo {
	color:blue;
}
.toporede li {
	list-style:none;
}
.toporede a {
	float:right;
}
.toporede input {
	float:right;
}
.toporede img {
	margin-right:4px;
}
.topobusca {
	width:110px;
	height:26px;
	outline:0;
}
.topobaixo {
	margin-top:8px;
	height:93px;
	color:#000;
}
.topo2int {
	width:100%;
	max-width:1070px;
	height:160px;
	margin:auto;
	background-color:#08090a;
}
.topologo {
	width:300px;
	height:95px;
	float:left;
	margin-top:5px;
}
.topobaixo .banner {
	width:500px;
	height:80px;
	float:right;
	margin-top:3px;
	text-align:center;
}
.Nome {
	font-size:72px;
}
.menu {
	width:100%;
	margin-top:69px;
	height:40px;
	background-color:#0c0d0e;

}
.menuinterno {
	width:1070px;
	height:40px;
	margin-left:100px;
}
.menuinterno li a {
	text-decoration:none;
	color:#FFF;
	font-size:17px;
	font-family:cursive;
}
.menuinterno li {
	list-style:none;
	float:left;
	padding-right:10px;
	padding-left:10px;
	line-height:40px;
}
.menu li:hover .submenu {
	display:block;
}
.submenu {
	width:150px;
	background-color:#0c0d0e;
	position:absolute;
	display:none;
}
.submenuitem {
	width:140px;
	height:30px;
	line-height:30px;
	padding-left:10px;

}
.submenuitem:hover {
	background-color:#7793ab;
}
.bordar{
	width:140px;
	height:100%;
	float:left;
	background-color:blue;
}
.container {
	display:block;
}
.containerint {
	width:100%;
	max-width:1071px;
	margin-left:95px;
	background-color:red;
	display:flex;
}
.coontainerint img {
	margin-top:-3px;
	margin-left:140px;
	width:1071px;
	height:400px;
	float:left;
	margin:auto;
	position:absolute;
}
.titulo {
	font-size:30px;
	margin-top:15px;
	font-family:Hamster;
	height:67px;
} 
.slide {
	margin-top:0px;
	margin-left:140px;
	width:1071px;
	height:400px;
	background-color:red;
	position:absolute;
}
.texto {
	float:left;
	width:370px;
	height:397px;
	margin-left:30px;
	margin-top:0px;
	position:absolute;
	color:black;
}
.stexto {
	margin-top:170px;
	font-size:25px;
	color:black;
	font-family:Hamster;
}
.bordar{
	float:auto;
	margin:auto;
	margin-top:-262px;
	width:1084px;
	height:15px;
	background-color:#0c0d0e;
	margin-left:138px;
	border-radius:3px;
}
.bordarright {
	width:15px;
	background-color:#0c0d0e;
	height:100%;
	margin-left:125px;
	border-radius:3px;
	margin-top:-2px;
}
.bordarleft {
	width:15px;
	background-color:#0c0d0e;
	height:100%;
	margin-top:-663px;
	float:right;
	margin-right:124px;
	border-radius:3px;
}